<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>XMask - shawl.qiu template</title>
</head>
<body>

<style>
    *
    {
        padding: 0; margin: 0;
    }    
    body
    {
        width: 960px;
        margin: 20px auto;
        
        background:#ccc;
    }
</style>
<link rel="stylesheet" type="text/css" href="css.css">

<div style="position:absolute; width: 400px; height: 200px; border: 1px solid #000; background: #fff; display:none;" id="popup">
    <button type="button" id="close">close</button>
</div>
<button type="button" id="test">test</button>

<script src="common.js"></script>
<script src="../XMask.js"></script>
<script>
    var test = document.getElementById("test");
    var popup = document.getElementById("popup");
    var close = document.getElementById("close");
    
    close.onclick =
    function()
    {
        popup.style.display = 'none';
        XMask.exec().hide();
    };
    
    test.onclick = 
    function()
    {
        XMask.exec().show();
        
        popup.style.zIndex = getMaxIndex();
        popup.style.display = 'block';
    }
</script>
</body>
</html>
