<!doctype html>
<html>
<head>
<meta charset=utf-8 />
<title>suches template</title>
</head>    
<body>

<style>
*
{
    margin: 0;
    padding: 0;
}

body
{
    width: 960px;
    margin: 20px auto;
}
</style>

<div id="test">离结束还有<span id="timer">8</span>秒</div>
<div><button id="redo" type="button" style="display:none">redo</button></div>

<script src="../XTimer.js"></script>
<script>
    
    var ele = document.getElementById("timer");
    var test = document.getElementById("test");
    var redo = document.getElementById("redo");
    
    var second = parseInt( ele.innerHTML );
    
    testFunc();
    
    function testFunc()
    {
        test.style.display = 'block';
        redo.style.display = 'none';
            
        XTimer.exec
        (
            {
                "second": second
                
                , "tickCallback": 
                    function( $second )
                    {
                        ele.innerHTML = $second;
                    }
                    
                , "doneCallback":
                    function( $second )
                    {
                        test.style.display = 'none';
                        redo.style.display = 'block';
                    }
            }
        );
    }
    
    redo.onclick = 
    function()
    {
        testFunc();
    };
    
</script>
    
</body>
</html>
