.proxy-dd {filter:alpha(opacity:60);opacity:0.6;zoom:1;background:#000;border:0;position:absolute;z-index:99999;}
.proxy-rectselector{ position:absolute;z-index:99999;border:1px dotted #666;overflow:hidden;}
.proxy-layoutPosition{ position:absolute;z-index:99999;background:red;height:2px;width:20px;overflow:hidden;}
